<body>
  <div class="pokemons">
    <h2>List Pokemon : </h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Detail</th>
      </tr>
        <tr>
          <td>1</td>
          <td>Pikachu</td>
          <td><a href="#">Click Here</a></td>
        </tr>
    </table>
  </div>
</body>
