<style>
  .boxtype {
    margin:7px;
    padding:10px;
    width:150px;
    height:50px;
    border-radius:10px;
    background: whitesmoke;
    display: inline-flex;
    align-items: center;
    gap:10px;
    color: black;
  }
</style>

<div class="boxtype" >
    <img width="50px" src="https://dubai-first-aid.com/wp-content/uploads/2019/10/fire_283601.png">
    <p><b>Fire</b></p>
</div>
