<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://cdn.bulbagarden.net/upload/6/68/MDP_RT_025.png" sizes="16x16" type="image/png">
  <title>Simple Pokedex</title>
</head>
<style>
  p {
    font-size: 14pt;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
</style>